---
# tasks file for generic_docker_systemd

- name: Pull docker service image
  docker_image:
    name: "{{ docker_image }}"
  when: method == 'pull'

- name: Pull docker database image
  docker_image:
    name: "{{ docker_db_image }}"
  when: enable_db

- name: Create a docker network for the service and the database
  docker_network:
    name: "{{ docker_network_name }}"
  when: create_network

- name: Create database data volume
  docker_volume:
    name: "{{ docker_service_db_volume_name }}"
    state: present
  register: database_data_volume
  notify: Setup database
  ignore_errors: true
  when: enable_db and db_type == 'mariadb'

- name: Check if postgres is already configured
  stat:
    path: "{{ docker_service_directory_db }}/postgresql.conf"
  register: database_postgres_conf
  when: enable_db and db_type == 'postgres'

- name: Check if mongodb is already configured
  stat:
    path: "{{ docker_service_directory_db }}/storage.bson"
  register: database_mongo_conf
  when: enable_db and db_type == 'mongo'

- name: Setup database
  include_tasks: db-setup.yml
  when:
    - enable_db and (( db_type == 'postgres' and not database_postgres_conf.stat.exists ) or (db_type == 'mongo' and not database_mongo_conf.stat.exists ))

- name: Create service data volume
  docker_volume:
    name: "{{ docker_service_volume_name }}"
    state: present
  register: service_data_volume
  ignore_errors: true
  when: create_volume

# Temporary fix for a bug that will make docker_volume fail if the container doesn't exists yet.

- name: Create database data volume MANUALLY
  command: "docker volume create {{ docker_service_db_volume_name }}"
  notify: Setup database
  when: database_data_volume.failed|default(false)

- name: Create service data volume MANUALLY
  command: "docker volume create {{ docker_service_volume_name }}"
  when: service_data_volume.failed|default(false)

- name: Create systemd database service
  template:
    src: systemd-service_db.template
    dest: "/etc/systemd/system/{{ docker_service_prefix }}{{ service_db_name }}.service"
    owner: root
    group: root
  when: enable_db
  notify: Enable systemd database service and start it

- name: Create systemd service
  template:
    src: systemd-service.template
    dest: "/etc/systemd/system/{{ docker_service_prefix }}{{ service_name }}.service"
    owner: root
    group: root
  notify: Enable systemd service and start it
