---

- name: '[Pretask] Install pip'
  hosts: all
  tasks:
    - name: Install required packages
      become: true
      package:
        name: "{{ item }}"
        state: present
      with_items:
        - python-pip
        - python-mysqldb

# From: https://git.digitales.cslabrecha.org/ansible-roles/docker
- name: '[Pretask] Install docker'
  hosts: all
  roles:
    - role: docker

- name: '[Pretask] Create directories'
  hosts: all
  vars:
    docker_service_directory_db: /data/dummy/db
  tasks:
    - name: Create db data directory
      file:
        path: "{{ docker_service_directory_db }}"
        state: directory
        owner: vagrant
        group: vagrant
        mode: 0700

- name: Deploy the docker image managed by a systemd service
  hosts: all
  vars:
    docker_image: nginx:alpine
    db_type: mongo
    docker_db_image: mongo:4
    service_name: dummy
    docker_service_directory_db: /data/dummy/db
    docker_command: |
      /usr/bin/docker run --rm --name {{ service_name }} \
      -p 8080:80 \
      -v {{ docker_service_volume_name }}:/usr/share/nginx/html \
      --network {{ service_name }} \
      {{ docker_image }}
    db_user_pass: 's3cr3t'
    db_config_port: 27017
    db_name: dummy
    db_user: johndoe
  roles:
    - role: generic_docker_systemd
